<% include ../partials/header %>
<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>Trendiest dog mixes</h1>
    <p>
       <a class="btn btn-primary btn-large" href="/Mixes/new">Add new Mix!</a></button>
    </p>
    </div>
</header>


<div class="ui four column grid">
    
    <% Mixes.forEach(function(campsite){ %>
    <div class="column">
        <div class="ui fluid link card">
            <div class="image">
                <img src="<%=campsite.image%>">
            </div>
            <div class="content">
                <a class="header" href="/Mixes/<%=campsite._id%>"><%= campsite.name   %> </a>
                
                <span class="right floated">
                    <div class="ui label">
              <i class="diamond icon"></i>
                  <%=campsite.miracleCount%>  |  
             <i class="bomb icon"></i>
                 <%=campsite.abominationCount%>

</div>
            </span>
            
                          <div  class="meta" id="specialbreed">
                       <%= campsite.breed1 %>    |    <%=campsite.breed2 %>
                </div>
            
            
            </div>
            
        


                     
        </div>
    </div>
            


    
    <% }); %>
            </div>

</div>



<% include ../partials/footer %>